/* COLOR PALETTE ---------------------------------------- */
$graphite: #707071;
$black: #000000;
$purple: #6B408E;
$pink: #EF435E;
$turqoise: #00AE97;



/* DEFAULT ---------------------------------------- */
html,body{
    overflow-x: hidden;
}

h1{

}

h2{

}

h3{
  font-size: 18px;
}

@-moz-document url-prefix() {
    .navigation {
        background-color: rgba(255, 255, 255, .85);
    }
}

.navigation{
  display: none;
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  transition: .25s;
  opacity: 1;
  position: fixed;
height: 100vh;
z-index: 10;
animation: opacity .25s;
  ul{
    list-style: none;
margin-top: 100px;

  li{
    width: 100%;
    text-align: center;
      margin-top: 50px;
      margin-bottom: 50px;
    a{
color: black;
transition: .25s;
    }
    a:hover{
      text-decoration: none;
      opacity: .5;
    }
  }
}
}

.tagline{
  position: absolute;
  margin: 0 auto;
  display: block;
  top: 35%;;
  bottom: 0;
  left: 0;
  right: 0;
  height: 30%;
}

header{
  padding: 25px 0px 0px 0px!important;
  position: absolute;
  z-index: 20;

}

.toggle-nav{
  margin: 20px;
}

@keyframes opacity{
  0%   { opacity: 0; }
  100% { opacity: 1; }
}


  .animate{
    animation: opacity 1s;
    animation-delay: 1s;
  }


main{
  position: relative;
margin-top: 10vw;
}

.home{
  height: 80vh;
}

.circle-1{
  border-radius: 100%;
  border: 1px solid rgba(128, 128, 128, .2);
  width: 95vw;
  height: 95vw;
  position: absolute;
  top: 5vw;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  transition: .25s;
}

.circle-2{
  border-radius: 100%;
  border: 1px solid rgba(128, 128, 128, .4);
  width: 85vw;
  height: 85vw;
  position: absolute;
  top: 10vw;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  transition: .25s;
}

.circle-3{
  border-radius: 100%;
  border: 1px solid rgba(128, 128, 128, .6);
  width: 75vw;
  height: 75vw;
  position: absolute;
  top: 15vw;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  transition: .25s;
}

.circle-4{
  border-radius: 100%;
  border: 1px solid rgba(128, 128, 128, .8);
  width: 65vw;
  height: 65vw;
  position: absolute;
  top: 20vw;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  transition: .25s;
}

.circle-5{
  border-radius: 100%;
  border: 1px solid rgba(128, 128, 128, 1);
  width: 55vw;
  height: 55vw;
  position: absolute;
  top: 25vw;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  transition: .25s;
}

.circle-6{
  border-radius: 100%;
  width: 45vw;
  height: 45vw;
  position: absolute;
  top: 120px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  transition: .25s;
  z-index: -1;
}

.hover:hover{
  border: 1px solid #EF435E;
}


/* CIRCLE LINKS */

.branding{
  background-color: #6B408E;
  height: 30vw;
  width: 30vw;
  border-radius: 100%;
  top: 45vh;
  left: 3.5vw;
  position: absolute;
  text-align: center;
  font-weight: bold;
  color: white;
  transition: .25s;
  animation: scale 1s;
  h3{
      margin-top: 11vw;
  }
}
.branding:hover{
  color: white;
  text-decoration: none;
}
.branding:hover{
  color: white;
  text-decoration: none;
  height: 32vw;
  width: 32vw;
  left: 2vw;
  top: 44.5vh;
}

.web{
  background-color: #EF435E;
  height: 30vw;
  width: 30vw;
  border-radius: 100%;
  top: 50vh;
  left: 35vw;
  position: absolute;
  text-align: center;
  font-weight: bold;
  color: white;
  transition: .25s;
  animation: scale-2 1s;

  h3{
      margin-top: 11vw;
  }
}
.web:hover{
  color: white;
  text-decoration: none;
  height: 32vw;
  width: 32vw;
  top: 49vh;
  left: 34vw;
}

.social-media{
  background-color: #00AE97;
  height: 30vw;
  width: 30vw;
  border-radius: 100%;
  top: 45vh;
  right: 3.5vw;
  position: absolute;
  text-align: center;
  font-weight: bold;
  color: white;
  transition: .25s;
  animation: scale-3 1s;
h3{
    margin-top: 9vw;
}
}

.social-media:hover{
  color: white;
  text-decoration: none;
  height: 32vw;
  width: 32vw;
  right: 2vw;
  top: 44.5vh;
}

/* ANIMATIONS ---------------------------------------- */

@keyframes scale {
       0% {
           transform: scale(0);
           -webkit-transform: scale(0);
       }
       100% {
           transform: scale(1.0);
           -webkit-transform: scale(1.0);
       }
   }

   @keyframes scale-2 {
          0% {
              transform: scale(0);
              -webkit-transform: scale(0);
          }
          10% {
              transform: scale(0);
              -webkit-transform: scale(0);
          }
          100% {
              transform: scale(1.0);
              -webkit-transform: scale(1.0);
          }
      }

      @keyframes scale-3 {
             0% {
                 transform: scale(0);
                 -webkit-transform: scale(0);
             }
             15% {
                 transform: scale(0);
                 -webkit-transform: scale(0);
             }
             100% {
                 transform: scale(1.0);
                 -webkit-transform: scale(1.0);
             }
         }

         @keyframes scale-4 {
                0% {
                    transform: scale(0);
                    -webkit-transform: scale(0);
                }
                20% {
                    transform: scale(0);
                    -webkit-transform: scale(0);
                }
                100% {
                    transform: scale(1.0);
                    -webkit-transform: scale(1.0);
                }
            }

            @keyframes scale-5 {
                   0% {
                       transform: scale(0);
                       -webkit-transform: scale(0);
                   }
                   25% {
                       transform: scale(0);
                       -webkit-transform: scale(0);
                   }
                   100% {
                       transform: scale(1.0);
                       -webkit-transform: scale(1.0);
                   }
               }

               @keyframes scale-6 {
                      0% {
                          transform: scale(0);
                          -webkit-transform: scale(0);
                      }
                      30% {
                          transform: scale(0);
                          -webkit-transform: scale(0);
                      }
                      100% {
                          transform: scale(1.0);
                          -webkit-transform: scale(1.0);
                      }
                  }

                  @keyframes scale-7 {
                         0% {
                             transform: scale(0);
                             -webkit-transform: scale(0);
                         }
                         35% {
                             transform: scale(0);
                             -webkit-transform: scale(0);
                         }
                         100% {
                             transform: scale(1.0);
                             -webkit-transform: scale(1.0);
                         }
                     }

                     @keyframes scale-8 {
                            0% {
                                transform: scale(0);
                                -webkit-transform: scale(0);
                            }
                            40% {
                                transform: scale(0);
                                -webkit-transform: scale(0);
                            }
                            100% {
                                transform: scale(1.0);
                                -webkit-transform: scale(1.0);
                            }
                        }



         .map-container{
           overflow: hidden;
           padding-top: 10px!important;
           position: relative;
           height: 310px;
           margin-top: 75px;

         }
         .map{
           border-top-left-radius: 100%;
           border-top-right-radius: 100%;
           box-shadow: 0 -2px 10px lightgrey;
           width: 150vw;
           bottom: 0;
           left: -25vw;
           position: absolute;
         }


/* PORTFOLIO PAGE */
.portfolio{
  height: 101vw;
}

.portfolio-item{
  position: absolute;
  border-radius: 100%;
  background-color: #F2F2F2;
  box-shadow: 0 0 3px grey;
  img{
    height: 80%;
    width: 80%;
    margin: 10%;
  }
}

.item-1{
  right: 18vw;
  top: 17vw;
  height: 40px;
  width: 40px;
  animation: scale 1s;
  transition: .5s;
}

.item-1:hover{
  transform: scale(1.25);
}

.item-2{
right: 5vw;
top: 45vw;
height: 50px;
width: 50px;
animation: scale-2 1s;
transition: .5s;
}

.item-2:hover{
  transform: scale(1.25);
}

.item-3{
  right: 18vw;
  top: 75vw;
  height: 40px;
  width: 40px;
  animation: scale 1s;
  transition: .5s;
}

.item-3:hover{
  transform: scale(1.25);
}

.item-4{
  right: 0;
  left: 0;
  display: block;
  margin: 0 auto;
  top: 87.5vw;
  height: 50px;
  width: 50px;
  animation: scale-4 1s;
  transition: .25s;
}

.item-4:hover{
  transform: scale(1.25);
}

.item-5{
  left: 18vw;
  top: 75vw;
  height: 40px;
  width: 40px;
  animation: scale 1s;
  transition: .5s;
}

.item-5:hover{
  transform: scale(1.25);
}

.item-6{
  left: 5vw;
  top: 45vw;
  height: 50px;
  width: 50px;
  animation: scale-2 1s;
  transition: .5s;
}

.item-6:hover{
  transform: scale(1.25);
}

.item-7{
  left: 18vw;
  top: 17vw;
  height: 40px;
  width: 40px;
  animation: scale 1s;
  transition: .5s;
}

.item-7:hover{
  transform: scale(1.25);
}

.item-8{
  right: 0;
  left: 0;
  display: block;
  margin: 0 auto;
  top: 5vw;
  height: 50px;
  width: 50px;
  animation: scale-4 1s;
  transition: .25s;
}

.item-8:hover{
  transform: scale(1.25);
}

.opacity{
  opacity: .5;
}

/* PORTFOLIO ---------------------------------------- */

.article-portfolio{
  position: relative;
  margin-top: 15vw;
  min-height: 10vw;
  padding-bottom: 10vw!important;
  ul{
    list-style: none;
  }
}

.item-display{
  display: none;
  transition: .25s;
  a{
    color: white;
    text-align: center;
    border: 1px solid white;
    height: 40px;
    padding-top: 7.5px;
  }
  .website{
    background-color: $pink;
  }
  .read-more{
    background-color: $graphite;
  }
}

/* MOVE ACTIONS JS */

.move{
  right: 30vw;
  margin-top: 15vw;
  height: 40vw;
  width: 40vw;
  transition: .5s;
}

.move:hover{
  transform: scale(1);
}

.move2{
  right: 30vw;
  top: 32.5vw!important;
  height: 40vw;
  width: 40vw;
  transition: .5s;
}

.move2:hover{
  transform: scale(1);
}

.move3{
  right: 30vw;
  top: 32.5vw!important;
  height: 40vw;
  width: 40vw;
  transition: .5s;
}

.move3:hover{
  transform: scale(1);
}

.move4{
  left: 0;
  right: 0;
  top: 32.5vw!important;
  height: 40vw;
  width: 40vw;
  transition: .5s;
}

.move4:hover{
  transform: scale(1);
}

.move5{
  left: 30vw;
  top: 32.5vw!important;
  height: 40vw;
  width: 40vw;
  transition: .5s;
}

.move5:hover{
  transform: scale(1);
}

.move6{
  left: 30vw;
  top: 32.5vw!important;
  height: 40vw;
  width: 40vw;
  transition: .5s;
}

.move6:hover{
  transform: scale(1);
}

.move7{
  left: 30vw;
  margin-top: 15vw;
  height: 40vw;
  width: 40vw;
  transition: .5s;
}

.move7:hover{
  transform: scale(1);
}

.move8{
  left: 0;
  right: 0;
  top: 32.5vw!important;
  height: 40vw;
  width: 40vw;
  transition: .5s;
}

.move8:hover{
  transform: scale(1);
}

.close{
  height: 25px;
  width: 25px;
  border-radius: 100%;
  display: none;
  position: absolute;
  bottom: 75%;
  background-color: grey;
  color: white;
  z-index: 20;
  p{
    font-weight: normal;
    color: white;
    text-align: center;
  }
}
