/* COLOR PALETTE ---------------------------------------- */
/* DEFAULT ---------------------------------------- */
html, body {
  overflow-x: hidden; }

body {
  scroll-behavior: smooth; }

#change-color {
  color: green; }

.button5 {
  background-color: #000000; }

.change-color {
  background-color: #EF435E !important; }

h1 {
  font-size: 30px;
  font-family: itc-avant-garde-gothic-pro, sans-serif;
  font-weight: 700;
  font-style: normal; }

h2 {
  font-size: 24px;
  font-family: itc-avant-garde-gothic-pro, sans-serif;
  font-weight: 700;
  font-style: normal; }

h3 {
  font-size: 16px;
  font-family: itc-avant-garde-gothic-pro, sans-serif;
  font-weight: 500;
  font-style: normal; }

h4 {
  font-size: 18px;
  font-family: itc-avant-garde-gothic-pro, sans-serif;
  font-weight: 700;
  font-style: normal; }

p {
  font-family: itc-avant-garde-gothic-pro, sans-serif; }

a {
  font-family: itc-avant-garde-gothic-pro, sans-serif; }

li {
  font-family: itc-avant-garde-gothic-pro, sans-serif; }

#active {
  font-weight: bold; }

@-moz-document url-prefix() {
  .navigation {
    background-color: rgba(255, 255, 255, 0.85); } }
.social-media-list {
  list-style: none;
  margin-top: -40px !important; }
  .social-media-list a {
    width: 30px;
    margin-left: 20px !important;
    transition: .25s; }
    .social-media-list a img {
      width: 30px; }
  .social-media-list a:hover {
    opacity: .5; }

.navigation {
  display: none;
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  transition: .25s;
  opacity: 1;
  position: fixed;
  height: 100vh;
  z-index: 10;
  animation: opacity .25s; }
  .navigation ul {
    list-style: none;
    margin-top: 100px; }
    .navigation ul li {
      width: 100%;
      text-align: center;
      margin-top: 50px;
      margin-bottom: 50px; }
      .navigation ul li a {
        color: black;
        transition: .25s; }
      .navigation ul li a:hover {
        text-decoration: none;
        opacity: .5; }

.tagline {
  position: absolute;
  top: 42.5vw;
  height: auto;
  width: 35vw;
  left: 32.5vw; }

header {
  padding: 25px 0px 0px 0px !important;
  position: absolute;
  z-index: 20; }

.toggle-nav {
  margin: 20px; }

@keyframes opacity {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
.animate {
  animation: opacity 1s;
  animation-delay: 1s; }

main {
  position: relative;
  margin-top: 10vw; }

.home {
  height: 80vh; }

.circle-1 {
  border-radius: 100%;
  border: 1px solid rgba(128, 128, 128, 0.2);
  width: 95vw;
  height: 95vw;
  position: absolute;
  top: 5vw;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  transition: .25s; }

.circle-2 {
  border-radius: 100%;
  border: 1px solid rgba(128, 128, 128, 0.4);
  width: 85vw;
  height: 85vw;
  position: absolute;
  top: 10vw;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  transition: .25s; }

.circle-3 {
  border-radius: 100%;
  border: 1px solid rgba(128, 128, 128, 0.6);
  width: 75vw;
  height: 75vw;
  position: absolute;
  top: 15vw;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  transition: .25s; }

.circle-4 {
  border-radius: 100%;
  border: 1px solid rgba(128, 128, 128, 0.8);
  width: 65vw;
  height: 65vw;
  position: absolute;
  top: 20vw;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  transition: .25s; }

.circle-5 {
  border-radius: 100%;
  border: 1px solid gray;
  width: 55vw;
  height: 55vw;
  position: absolute;
  top: 25vw;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  transition: .25s; }

.circle-6 {
  border-radius: 100%;
  width: 45vw;
  height: 45vw;
  position: absolute;
  top: 30vw;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  transition: .25s; }

.hover:hover {
  border: 1px solid #EF435E; }

/* CIRCLE LINKS */
.branding {
  background-color: #6B408E;
  height: 30vw;
  width: 30vw;
  border-radius: 100%;
  top: 45vh;
  left: 3.5vw;
  position: absolute;
  text-align: center;
  font-weight: bold;
  color: white;
  transition: .25s;
  animation: scale 1s; }
  .branding h3 {
    margin-top: 11vw; }

.branding:hover {
  color: white;
  text-decoration: none; }

.branding:hover {
  color: white;
  text-decoration: none;
  height: 32vw;
  width: 32vw;
  left: 2vw;
  top: 44.5vh; }

.web {
  background-color: #EF435E;
  height: 30vw;
  width: 30vw;
  border-radius: 100%;
  top: 50vh;
  left: 35vw;
  position: absolute;
  text-align: center;
  font-weight: bold;
  color: white;
  transition: .25s;
  animation: scale-2 1s; }
  .web h3 {
    margin-top: 11vw; }

.web:hover {
  color: white;
  text-decoration: none;
  height: 32vw;
  width: 32vw;
  top: 49vh;
  left: 34vw; }

.social-media {
  background-color: #00AE97;
  height: 30vw;
  width: 30vw;
  border-radius: 100%;
  top: 45vh;
  right: 3.5vw;
  position: absolute;
  text-align: center;
  font-weight: bold;
  color: white;
  transition: .25s;
  animation: scale-3 1s; }
  .social-media h3 {
    margin-top: 9vw; }

.social-media:hover {
  color: white;
  text-decoration: none;
  height: 32vw;
  width: 32vw;
  right: 2vw;
  top: 44.5vh; }

footer {
  margin-top: 75px !important; }
  footer ul {
    list-style: none; }
    footer ul li {
      float: left; }
      footer ul li a {
        color: #EF435E;
        transition: .25s; }
      footer ul li a:hover {
        text-decoration: none;
        color: #6B408E; }

#scene-ar {
  height: 90vh;
  width: 100vw; }

/* PRACTICE */
.practice {
  background-color: #00AE97;
  height: 50vh;
  float: left; }

.practice-2 {
  background-color: #EF435E;
  float: left;
  height: 50vh; }

.grid-container {
  display: grid;
  grid-template-columns: 83.25% 16.75%;
  margin-top: 50vh; }

.practice-3 {
  height: 50vh;
  background-color: #EF435E;
  grid-column: 1 / 2; }

.practice-4 {
  grid-column: 2 / span 1;
  background-color: #00AE97; }

/* ANIMATIONS ---------------------------------------- */
@keyframes scale {
  0% {
    transform: scale(0);
    -webkit-transform: scale(0); }
  100% {
    transform: scale(1);
    -webkit-transform: scale(1); } }
@keyframes scale-2 {
  0% {
    transform: scale(0);
    -webkit-transform: scale(0); }
  10% {
    transform: scale(0);
    -webkit-transform: scale(0); }
  100% {
    transform: scale(1);
    -webkit-transform: scale(1); } }
@keyframes scale-3 {
  0% {
    transform: scale(0);
    -webkit-transform: scale(0); }
  15% {
    transform: scale(0);
    -webkit-transform: scale(0); }
  100% {
    transform: scale(1);
    -webkit-transform: scale(1); } }
@keyframes scale-4 {
  0% {
    transform: scale(0);
    -webkit-transform: scale(0); }
  20% {
    transform: scale(0);
    -webkit-transform: scale(0); }
  100% {
    transform: scale(1);
    -webkit-transform: scale(1); } }
@keyframes scale-5 {
  0% {
    transform: scale(0);
    -webkit-transform: scale(0); }
  25% {
    transform: scale(0);
    -webkit-transform: scale(0); }
  100% {
    transform: scale(1);
    -webkit-transform: scale(1); } }
@keyframes scale-6 {
  0% {
    transform: scale(0);
    -webkit-transform: scale(0); }
  30% {
    transform: scale(0);
    -webkit-transform: scale(0); }
  100% {
    transform: scale(1);
    -webkit-transform: scale(1); } }
@keyframes scale-7 {
  0% {
    transform: scale(0);
    -webkit-transform: scale(0); }
  35% {
    transform: scale(0);
    -webkit-transform: scale(0); }
  100% {
    transform: scale(1);
    -webkit-transform: scale(1); } }
@keyframes scale-8 {
  0% {
    transform: scale(0);
    -webkit-transform: scale(0); }
  40% {
    transform: scale(0);
    -webkit-transform: scale(0); }
  100% {
    transform: scale(1);
    -webkit-transform: scale(1); } }
.map-container {
  overflow: hidden;
  padding-top: 10px !important;
  padding: 0;
  margin-bottom: 0; }

.map {
  margin-bottom: 0;
  border: 0; }

/* PORTFOLIO PAGE */
.portfolio {
  height: 101vw; }

.portfolio-item {
  position: absolute;
  border-radius: 100%;
  background-color: #F2F2F2;
  box-shadow: 0 0 3px grey; }
  .portfolio-item img {
    height: 80%;
    width: 80%;
    margin: 10%; }

.item-1 {
  right: 18vw;
  top: 17vw;
  height: 13vw;
  width: 13vw;
  animation: scale 1s;
  transition: .5s; }

.item-1:hover {
  transform: scale(1.25); }

.item-2 {
  right: 5vw;
  top: 45vw;
  height: 16vw;
  width: 16vw;
  animation: scale-2 1s;
  transition: .5s; }

.item-2:hover {
  transform: scale(1.25); }

.item-3 {
  right: 18vw;
  top: 75vw;
  height: 13vw;
  width: 13vw;
  animation: scale 1s;
  transition: .5s; }

.item-3:hover {
  transform: scale(1.25); }

.item-4 {
  right: 0;
  left: 0;
  display: block;
  margin: 0 auto;
  top: 84vw;
  height: 16vw;
  width: 16vw;
  animation: scale-4 1s;
  transition: .25s; }

.item-4:hover {
  transform: scale(1.25); }

.item-5 {
  left: 18vw;
  top: 75vw;
  height: 13vw;
  width: 13vw;
  animation: scale 1s;
  transition: .5s; }

.item-5:hover {
  transform: scale(1.25); }

.item-6 {
  left: 5vw;
  top: 45vw;
  height: 16vw;
  width: 16vw;
  animation: scale-2 1s;
  transition: .5s; }

.item-6:hover {
  transform: scale(1.25); }

.item-7 {
  left: 18vw;
  top: 17vw;
  height: 13vw;
  width: 13vw;
  animation: scale 1s;
  transition: .5s; }

.item-7:hover {
  transform: scale(1.25); }

.item-8 {
  right: 0;
  left: 0;
  display: block;
  margin: 0 auto;
  top: 5vw;
  height: 16vw;
  width: 16vw;
  animation: scale-4 1s;
  transition: .25s; }

.item-8:hover {
  transform: scale(1.25); }

.opacity {
  opacity: .5; }

.article-portfolio {
  position: relative;
  margin-top: 5vw;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 10vw !important; }
  .article-portfolio ul {
    list-style: none; }

.item-display {
  display: none;
  transition: .25s;
  position: absolute;
  top: -2vh;
  margin: 0;
  padding: 0; }
  .item-display a {
    color: #EF435E !important;
    text-align: left;
    height: 40px;
    padding-top: 7.5px; }
    .item-display a img {
      width: 35px;
      height: auto;
      float: left;
      padding-right: 10px; }
    .item-display a p {
      float: left;
      padding-top: 10px !important; }
  .item-display a:hover {
    text-decoration: none; }

.logo-full {
  height: 100vh;
  width: 100vw !important; }
  .logo-full p {
    margin-top: 10vh;
    z-index: 100;
    color: white; }

.portfolio-logo {
  margin-top: 17.5vh; }

.background-image {
  width: 35vw;
  position: absolute;
  right: 0;
  z-index: 0; }

.icon-container {
  z-index: 1;
  margin-top: 10vh;
  padding: 25px; }

#cc {
  background-color: black; }

.background-black {
  background-color: black;
  height: 100vh;
  width: 100vw; }

/* MODALS */
.modal-gallery ul {
  list-style: none; }
  .modal-gallery ul li {
    padding: 5px; }
    .modal-gallery ul li img {
      padding: 0; }

.close-modal {
  border: 1px solid #EF435E;
  background-color: white;
  color: #EF435E;
  transition: .5s; }

.close-modal:hover {
  background-color: #EF435E;
  color: white; }

.modal-logo {
  margin-top: 50px;
  margin-bottom: 50px; }

.modal-body p {
  text-align: justify;
  font-size: 16px;
  margin-top: 0 !important; }

.reveal-1 {
  opacity: 0; }

.reveal-2 {
  opacity: 0; }

.reveal-3 {
  opacity: 0; }

.reveal-4 {
  opacity: 0; }

.image-1:hover .reveal-1 {
  opacity: 1; }

.close-button-modal {
  border: 1px solid lightgrey;
  outline: none;
  width: 100px;
  background-color: white;
  color: grey;
  margin-right: 35px !important;
  transition: .25s; }

.close-button-modal:hover {
  border: 1px solid #EF435E;
  color: #EF435E; }

.project-links {
  margin-top: 25px; }
  .project-links a {
    color: #EF435E;
    transition: .25s;
    text-decoration: none; }
  .project-links a:hover {
    color: #6B408E;
    text-decoration: none; }

/* MOVE ACTIONS JS */
.move {
  right: 30vw;
  margin-top: 15vw;
  height: 40vw;
  width: 40vw;
  transition: .5s;
  z-index: 20; }

.move:hover {
  transform: scale(1); }

.move2 {
  right: 30vw;
  top: 32.5vw !important;
  height: 40vw;
  width: 40vw;
  transition: .5s;
  z-index: 20; }

.move2:hover {
  transform: scale(1); }

.move3 {
  right: 30vw;
  top: 32.5vw !important;
  height: 40vw;
  width: 40vw;
  transition: .5s;
  z-index: 20; }

.move3:hover {
  transform: scale(1); }

.move4 {
  left: 0;
  right: 0;
  top: 32.5vw !important;
  height: 40vw;
  width: 40vw;
  transition: .5s;
  z-index: 20; }

.move4:hover {
  transform: scale(1); }

.move5 {
  left: 30vw;
  top: 32.5vw !important;
  height: 40vw;
  width: 40vw;
  transition: .5s;
  z-index: 20; }

.move5:hover {
  transform: scale(1); }

.move6 {
  left: 30vw;
  top: 32.5vw !important;
  height: 40vw;
  width: 40vw;
  transition: .5s;
  z-index: 20; }

.move6:hover {
  transform: scale(1); }

.move7 {
  left: 30vw;
  margin-top: 15vw;
  height: 40vw;
  width: 40vw;
  transition: .5s;
  z-index: 20; }

.move7:hover {
  transform: scale(1); }

.move8 {
  left: 0;
  right: 0;
  top: 32.5vw !important;
  height: 40vw;
  width: 40vw;
  transition: .5s;
  z-index: 20; }

.move8:hover {
  transform: scale(1); }

.close {
  height: 25px;
  width: 25px;
  border-radius: 100%;
  display: none;
  position: absolute;
  bottom: 75%;
  background-color: grey;
  color: white;
  z-index: 20; }
  .close p {
    font-weight: normal;
    color: white;
    text-align: center; }

.cover {
  z-index: 15;
  height: 100%;
  width: 100%;
  position: absolute; }

.cover-1 {
  z-index: 16;
  height: 100%;
  width: 100%;
  position: absolute; }

.cover-2 {
  z-index: 16;
  height: 100%;
  width: 100%;
  position: absolute; }

.cover-3 {
  z-index: 16;
  height: 100%;
  width: 100%;
  position: absolute; }

.cover-4 {
  z-index: 16;
  height: 100%;
  width: 100%;
  position: absolute; }

.cover-5 {
  z-index: 16;
  height: 100%;
  width: 100%;
  position: absolute; }

.cover-6 {
  z-index: 16;
  height: 100%;
  width: 100%;
  position: absolute; }

.cover-7 {
  z-index: 16;
  height: 100%;
  width: 100%;
  position: absolute; }

.cover-8 {
  z-index: 16;
  height: 100%;
  width: 100%;
  position: absolute; }

.branding-container {
  border-top: 1px solid #6B408E;
  padding-top: 50px;
  padding-bottom: 50px; }
  .branding-container h2 {
    color: #6B408E; }
  .branding-container a {
    color: #6B408E;
    transition: .25s; }
    .branding-container a img {
      padding-left: 15px; }
  .branding-container a:hover {
    opacity: .5;
    text-decoration: none; }

.web-container {
  border-top: 1px solid #EF435E;
  padding-top: 50px;
  padding-bottom: 50px; }
  .web-container h2 {
    color: #EF435E; }
  .web-container a {
    color: #EF435E;
    transition: .25s; }
    .web-container a img {
      padding-left: 15px; }
  .web-container a:hover {
    opacity: .5;
    text-decoration: none; }

.social-media-container {
  border-top: 1px solid #00AE97;
  padding-top: 50px;
  padding-bottom: 50px; }
  .social-media-container h2 {
    color: #00AE97; }
  .social-media-container a {
    color: #00AE97;
    transition: .25s; }
    .social-media-container a img {
      padding-left: 15px; }
  .social-media-container a:hover {
    opacity: .5;
    text-decoration: none; }

.modal-content {
  border-radius: 0px !important;
  border: none !important; }

/* BLOG ---------------------------------------- */
.blog-posts-container h3 {
  padding-bottom: 10px;
  padding-top: 10px;
  border-top: 2px solid #6B408E; }
.blog-posts-container li {
  padding-top: 25px !important;
  padding-bottom: 25px !important;
  border-top: 1px solid lightgrey; }
.blog-posts-container h2 {
  padding: none;
  margin: 0; }

.blog-posts {
  list-style: none; }
  .blog-posts li {
    padding-bottom: 25px !important; }
  .blog-posts a {
    color: black;
    transition: .25s; }
  .blog-posts a:hover {
    text-decoration: none;
    opacity: .5; }

.blog-post-image {
  border-radius: 100%;
  background-color: #F2F2F2;
  box-shadow: 0 0 3px grey;
  width: 20%;
  max-height: 100px !important;
  max-width: 100px !important; }
  .blog-post-image img {
    height: 80%;
    width: 80%;
    max-height: 80px !important;
    max-width: 80px !important;
    margin: 10%; }

.blog-post-info {
  width: 80%;
  padding-left: 25px; }
  .blog-post-info p {
    margin-top: 5px;
    margin-bottom: 0; }
  .blog-post-info .description {
    font-size: 14px; }

.blog {
  margin-top: 25px; }

/* SHOP ---------------------------------------- */
#heroes {
  width: 95%;
  height: 95%;
  margin: 2.5%; }

/* CONTACT ---------------------------------------- */
.email {
  padding-left: 0;
  padding-top: 20px;
  padding-right: 10px;
  padding-bottom: 20px; }

.phone {
  padding-right: 0;
  padding-top: 20px;
  padding-left: 10px;
  padding-bottom: 20px; }

.message {
  margin-top: 30px;
  color: #EF435E;
  transition: .25s; }

.message:hover {
  text-decoration: none;
  color: #6B408E; }

.contact-list {
  list-style: none; }
  .contact-list li a {
    color: #EF435E;
    transition: .25s; }
  .contact-list li a:hover {
    color: #6B408E;
    text-decoration: none; }

.paragraph-container {
  text-align: justify; }
  .paragraph-container h4 {
    margin-top: 10px; }

form {
  margin-top: 50px !important; }

@media (min-width: 768px) {
  main {
    position: relative;
    margin-top: 70px; }

  .tagline {
    top: 35vw;
    width: 25vw;
    left: 37.5vw; }

  .circle-1 {
    border-radius: 100%;
    border: 1px solid rgba(128, 128, 128, 0.2);
    width: 80vw;
    height: 80vw;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    transition: .25s; }

  .circle-2 {
    border-radius: 100%;
    border: 1px solid rgba(128, 128, 128, 0.4);
    width: 70vw;
    height: 70vw;
    position: absolute;
    top: 5vw;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    transition: .25s; }

  .circle-3 {
    border-radius: 100%;
    border: 1px solid rgba(128, 128, 128, 0.6);
    width: 60vw;
    height: 60vw;
    position: absolute;
    top: 10vw;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    transition: .25s; }

  .circle-4 {
    border-radius: 100%;
    border: 1px solid rgba(128, 128, 128, 0.8);
    width: 50vw;
    height: 50vw;
    position: absolute;
    top: 15vw;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    transition: .25s; }

  .circle-5 {
    border-radius: 100%;
    border: 1px solid gray;
    width: 40vw;
    height: 40vw;
    position: absolute;
    top: 20vw;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    transition: .25s; }

  /* PORTFOLIO ---------------------------------------- */
  .portfolio {
    height: 80vw; }

  .item-1 {
    right: 21vw;
    top: 12vw;
    height: 10vw;
    width: 10vw;
    animation: scale 1s;
    transition: .5s; }

  .item-1:hover {
    transform: scale(1.25); }

  .item-2 {
    right: 10vw;
    top: 35vw;
    height: 13vw;
    width: 13vw;
    animation: scale-2 1s;
    transition: .5s; }

  .item-2:hover {
    transform: scale(1.25); }

  .item-3 {
    right: 21vw;
    top: 58vw;
    height: 10vw;
    width: 10vw;
    animation: scale 1s;
    transition: .5s; }

  .item-3:hover {
    transform: scale(1.25); }

  .item-4 {
    right: 0;
    left: 0;
    display: block;
    margin: 0 auto;
    top: 67vw;
    height: 13vw;
    width: 13vw;
    animation: scale-4 1s;
    transition: .25s; }

  .item-4:hover {
    transform: scale(1.25); }

  .item-5 {
    left: 21vw;
    top: 58vw;
    height: 10vw;
    width: 10vw;
    animation: scale 1s;
    transition: .5s; }

  .item-5:hover {
    transform: scale(1.25); }

  .item-6 {
    left: 10vw;
    top: 35vw;
    height: 13vw;
    width: 13vw;
    animation: scale-2 1s;
    transition: .5s; }

  .item-6:hover {
    transform: scale(1.25); }

  .item-7 {
    left: 21vw;
    top: 12vw;
    height: 10vw;
    width: 10vw;
    animation: scale 1s;
    transition: .5s; }

  .item-7:hover {
    transform: scale(1.25); }

  .item-8 {
    right: 0;
    left: 0;
    display: block;
    margin: 0 auto;
    top: 0vw;
    height: 13vw;
    width: 13vw;
    animation: scale-4 1s;
    transition: .25s; }

  .item-8:hover {
    transform: scale(1.25); }

  .opacity {
    opacity: .5; }

  .article-portfolio {
    position: relative;
    margin-top: 15vw;
    min-height: 10vw;
    padding-bottom: 10vw !important; }
    .article-portfolio ul {
      list-style: none; }

  .item-display {
    display: none;
    transition: .25s; }
    .item-display a {
      color: #EF435E;
      text-align: left;
      height: 40px;
      padding-top: 7.5px; }
    .item-display a:hover {
      text-decoration: none; }

  /* MOVE ACTIONS JS */
  .move {
    right: 35vw;
    margin-top: 13vw;
    height: 30vw;
    width: 30vw;
    transition: .5s;
    z-index: 20; }

  .move:hover {
    transform: scale(1); }

  .move2 {
    right: 35vw;
    top: 25vw !important;
    height: 30vw;
    width: 30vw;
    transition: .5s;
    z-index: 20; }

  .move2:hover {
    transform: scale(1); }

  .move3 {
    right: 35vw;
    top: 25vw !important;
    height: 30vw;
    width: 30vw;
    transition: .5s;
    z-index: 20; }

  .move3:hover {
    transform: scale(1); }

  .move4 {
    left: 0;
    right: 0;
    top: 25vw !important;
    height: 30vw;
    width: 30vw;
    transition: .5s;
    z-index: 20; }

  .move4:hover {
    transform: scale(1); }

  .move5 {
    left: 35vw;
    top: 25vw !important;
    height: 30vw;
    width: 30vw;
    transition: .5s;
    z-index: 20; }

  .move5:hover {
    transform: scale(1); }

  .move6 {
    left: 35vw;
    top: 25vw !important;
    height: 30vw;
    width: 30vw;
    transition: .5s;
    z-index: 20; }

  .move6:hover {
    transform: scale(1); }

  .move7 {
    left: 35vw;
    top: 10vw !important;
    height: 30vw;
    width: 30vw;
    transition: .5s;
    z-index: 20; }

  .move7:hover {
    transform: scale(1); }

  .move8 {
    left: 0;
    right: 0;
    top: 25vw !important;
    height: 30vw;
    width: 30vw;
    transition: .5s;
    z-index: 20; }

  .move8:hover {
    transform: scale(1); }

  .close {
    height: 25px;
    width: 25px;
    border-radius: 100%;
    display: none;
    position: absolute;
    bottom: 75%;
    background-color: grey;
    color: white;
    z-index: 20; }
    .close p {
      font-weight: normal;
      color: white;
      text-align: center; }

  .article-portfolio {
    margin-top: 0px !important; } }
/* CLOSES 768PX MEDIA QUERY */
@media (min-width: 540px) {
  .branding {
    background-color: #6B408E;
    height: 20vw;
    width: 20vw;
    border-radius: 100%;
    top: 45vh;
    left: 3.5vw;
    position: absolute;
    text-align: center;
    font-weight: bold;
    color: white;
    transition: .25s;
    animation: scale 1s; }
    .branding h3 {
      margin-top: 11vw; }

  .branding:hover {
    color: white;
    text-decoration: none; }

  .branding:hover {
    color: white;
    text-decoration: none;
    height: 22vw;
    width: 22vw;
    left: 2.5vw;
    top: 44.5vh; }

  .web {
    background-color: #EF435E;
    height: 20vw;
    width: 20vw;
    border-radius: 100%;
    top: 60vh;
    left: 39vw;
    position: absolute;
    text-align: center;
    font-weight: bold;
    color: white;
    transition: .25s;
    animation: scale-2 1s; }
    .web h3 {
      margin-top: 11vw; }

  .web:hover {
    color: white;
    text-decoration: none;
    height: 22vw;
    width: 22vw;
    top: 59.5vh;
    left: 38vw; }

  .social-media {
    background-color: #00AE97;
    height: 20vw;
    width: 20vw;
    border-radius: 100%;
    top: 45vh;
    right: 2.5vw;
    position: absolute;
    text-align: center;
    font-weight: bold;
    color: white;
    transition: .25s;
    animation: scale-3 1s; }
    .social-media h3 {
      margin-top: 9vw; }

  .social-media:hover {
    color: white;
    text-decoration: none;
    height: 22vw;
    width: 22vw;
    right: 2vw;
    top: 44.5vh; } }
/* END MEDIA 540 PX */
@media (min-width: 768px) {
  .branding {
    background-color: #6B408E;
    height: 20vw;
    width: 20vw;
    border-radius: 100%;
    top: 55vh;
    left: 13vw;
    position: absolute;
    text-align: center;
    font-weight: bold;
    color: white;
    transition: .25s;
    animation: scale 1s; }
    .branding h3 {
      margin-top: 11vw; }

  .branding:hover {
    color: white;
    text-decoration: none; }

  .branding:hover {
    color: white;
    text-decoration: none;
    height: 22vw;
    width: 22vw;
    left: 12vw;
    top: 54vh; }

  .web {
    background-color: #EF435E;
    height: 20vw;
    width: 20vw;
    border-radius: 100%;
    top: 77vh;
    left: 39vw;
    position: absolute;
    text-align: center;
    font-weight: bold;
    color: white;
    transition: .25s;
    animation: scale-2 1s; }
    .web h3 {
      margin-top: 11vw; }

  .web:hover {
    color: white;
    text-decoration: none;
    height: 22vw;
    width: 22vw;
    top: 76vh;
    left: 38vw; }

  .social-media {
    background-color: #00AE97;
    height: 20vw;
    width: 20vw;
    border-radius: 100%;
    top: 55vh;
    right: 13vw;
    position: absolute;
    text-align: center;
    font-weight: bold;
    color: white;
    transition: .25s;
    animation: scale-3 1s; }
    .social-media h3 {
      margin-top: 9vw; }

  .social-media:hover {
    color: white;
    text-decoration: none;
    height: 22vw;
    width: 22vw;
    right: 12vw;
    top: 54vh; }

  article {
    margin-top: 30vh; } }
@media (min-width: 992px) {
  .desktop-nav {
    position: fixed;
    list-style: none;
    transform: rotate(-90deg);
    top: 375px;
    left: -245px;
    z-index: 200; }
    .desktop-nav li {
      float: left;
      padding-right: 25px; }
      .desktop-nav li a {
        color: #707071; }
    .desktop-nav #active-desktop {
      border-top: 10px solid #EF435E;
      padding-top: 10px; }
    .desktop-nav a {
      color: black;
      transition: .25s; }
    .desktop-nav a:hover {
      text-decoration: none;
      opacity: .5; }

  .modal-body p {
    text-align: justify;
    font-size: 16px; }
  .modal-body .modal-text {
    margin-top: 50px; } }
@media (min-width: 1024px) {
  main {
    margin-top: 2.5vw !important; }

  .branding-container {
    border-top: none;
    padding-top: 0;
    padding-bottom: 50px; }

  .blog-posts li {
    border: none; }
    .blog-posts li p {
      font-size: 12px; }

  .blog-posts-container h3 {
    border-top: 0;
    border-bottom: 1px solid #6B408E;
    padding-top: 0; }

  /* CIRCLES ******************************************/
  .circle-1 {
    border-radius: 100%;
    border: 1px solid rgba(128, 128, 128, 0.2);
    width: 40vw;
    height: 40vw;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    transition: .25s; }

  .circle-2 {
    border-radius: 100%;
    border: 1px solid rgba(128, 128, 128, 0.4);
    width: 35vw;
    height: 35vw;
    position: absolute;
    top: 2.5vw;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    transition: .25s; }

  .circle-3 {
    border-radius: 100%;
    border: 1px solid rgba(128, 128, 128, 0.6);
    width: 30vw;
    height: 30vw;
    position: absolute;
    top: 5vw;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    transition: .25s; }

  .circle-4 {
    border-radius: 100%;
    border: 1px solid rgba(128, 128, 128, 0.8);
    width: 25vw;
    height: 25vw;
    position: absolute;
    top: 7.5vw;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    transition: .25s; }

  .circle-5 {
    border-radius: 100%;
    border: 1px solid gray;
    width: 20vw;
    height: 20vw;
    position: absolute;
    top: 10vw;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    transition: .25s; }

  /* PORTFOLIO ---------------------------------------- */
  .branding-container {
    margin-top: 5vw; }

  .article-portfolio h2 {
    font-size: 18px; }

  .portfolio {
    height: 42vw !important; }

  .item-1 {
    right: 35vw !important;
    top: 7vw !important;
    height: 5vw !important;
    width: 5vw !important;
    animation: scale 1s;
    transition: .5s; }

  .item-1:hover {
    transform: scale(1.25); }

  .item-2 {
    right: 32.5vw !important;
    top: 15vw !important;
    height: 6vw !important;
    width: 6vw !important;
    animation: scale-2 1s;
    transition: .5s; }

  .item-2:hover {
    transform: scale(1.25); }

  .item-3 {
    right: 35vw !important;
    top: 27.5vw !important;
    height: 5vw !important;
    width: 5vw !important;
    animation: scale 1s;
    transition: .5s; }

  .item-3:hover {
    transform: scale(1.25); }

  .item-4 {
    right: 0;
    left: 0;
    display: block;
    margin: 0 auto;
    top: 34vw !important;
    height: 6vw !important;
    width: 6vw !important;
    animation: scale-4 1s;
    transition: .25s; }

  .item-4:hover {
    transform: scale(1.25); }

  .item-5 {
    left: 35vw !important;
    top: 27.5vw !important;
    height: 5vw !important;
    width: 5vw !important;
    animation: scale 1s;
    transition: .5s; }

  .item-5:hover {
    transform: scale(1.25); }

  .item-6 {
    left: 30vw !important;
    top: 17vw !important;
    height: 6vw !important;
    width: 6vw !important;
    animation: scale-2 1s;
    transition: .5s; }

  .item-6:hover {
    transform: scale(1.25); }

  .item-7 {
    left: 35vw !important;
    top: 7vw !important;
    height: 5vw !important;
    width: 5vw !important;
    animation: scale 1s;
    transition: .5s; }

  .item-7:hover {
    transform: scale(1.25); }

  .item-8 {
    right: 0;
    left: 0;
    display: block;
    margin: 0 auto;
    top: 1vw;
    height: 6vw !important;
    width: 6vw !important;
    animation: scale-4 1s;
    transition: .25s; }

  .item-8:hover {
    transform: scale(1.25); }

  .branding {
    background-color: #6B408E;
    height: 10vw;
    width: 10vw;
    border-radius: 100%;
    top: 25vw;
    left: 30vw;
    position: absolute;
    text-align: center;
    font-weight: bold;
    color: white;
    transition: .25s;
    animation: scale 1s;
    z-index: 2; }
    .branding h3 {
      margin-top: 40%; }

  .branding:hover {
    color: white;
    text-decoration: none; }

  .branding:hover {
    color: white;
    text-decoration: none;
    height: 12vw;
    width: 12vw;
    left: 29vw;
    top: 24vw; }

  .web {
    background-color: #EF435E;
    height: 10vw;
    width: 10vw;
    border-radius: 100%;
    top: 32vw;
    left: 45vw;
    position: absolute;
    text-align: center;
    font-weight: bold;
    color: white;
    transition: .25s;
    animation: scale-2 1s; }
    .web h3 {
      margin-top: 40%; }

  .web:hover {
    color: white;
    text-decoration: none;
    height: 12vw;
    width: 12vw;
    top: 31vw;
    left: 44vw; }

  .social-media {
    background-color: #00AE97;
    height: 10vw;
    width: 10vw;
    border-radius: 100%;
    top: 25vw;
    right: 29vw;
    position: absolute;
    text-align: center;
    font-weight: bold;
    color: white;
    transition: .25s;
    animation: scale-3 1s; }
    .social-media h3 {
      margin-top: 35%; }

  .social-media:hover {
    color: white;
    text-decoration: none;
    height: 12vw;
    width: 12vw;
    right: 28vw;
    top: 24vw; }

  .tagline {
    position: absolute;
    top: 16.5vw;
    height: auto;
    width: 15vw;
    left: 42.5vw; }

  .article-home {
    margin-top: 150px; }

  .map-container {
    overflow: hidden;
    padding-top: 10px !important;
    position: relative;
    margin-top: 0px; }

  /* MOVE ACTIONS JS */
  .move {
    right: 42.5vw !important;
    margin-top: 5.5vw !important;
    height: 15vw !important;
    width: 15vw !important;
    transition: .5s;
    z-index: 20; }

  .move:hover {
    transform: scale(1); }

  .move2 {
    right: 42.5vw !important;
    top: 12.5vw !important;
    height: 15vw !important;
    width: 15vw !important;
    transition: .5s;
    z-index: 20; }

  .move2:hover {
    transform: scale(1); }

  .move3 {
    right: 42.5vw !important;
    top: 12.5vw !important;
    height: 15vw !important;
    width: 15vw !important;
    transition: .5s;
    z-index: 20; }

  .move3:hover {
    transform: scale(1); }

  .move4 {
    left: 0;
    right: 0;
    top: 12.5vw !important;
    height: 15vw !important;
    width: 15vw !important;
    transition: .5s;
    z-index: 20; }

  .move4:hover {
    transform: scale(1); }

  .move5 {
    left: 42.5vw !important;
    top: 12.5vw !important;
    height: 15vw !important;
    width: 15vw !important;
    transition: .5s;
    z-index: 20; }

  .move5:hover {
    transform: scale(1); }

  .move6 {
    left: 42.5vw !important;
    top: 12.5vw !important;
    height: 15vw !important;
    width: 15vw !important;
    transition: .5s;
    z-index: 20; }

  .move6:hover {
    transform: scale(1); }

  .move7 {
    left: 42.5vw !important;
    top: -2.5vw !important;
    height: 15vw !important;
    width: 15vw !important;
    transition: .5s;
    z-index: 20; }

  .move7:hover {
    transform: scale(1); }

  .move8 {
    left: 0;
    right: 0;
    top: 12.5vw !important;
    height: 15vw !important;
    width: 15vw !important;
    transition: .5s;
    z-index: 20; }

  .move8:hover {
    transform: scale(1); }

  /* BLOG ***********************************/
  .blog {
    margin-top: 55px !important; } }
/* CLOSE 1024PX */
@media (min-width: 1200px) {
  main {
    margin-top: 0 !important; }

  .portfolio {
    height: 40vh !important;
    min-height: 525px; }

  /* PORTFOLIO ---------------------------------------- */
  .item-1 {
    right: 38vw !important;
    top: 5.5vw !important;
    height: 5vw !important;
    width: 5vw !important;
    animation: scale 1s;
    transition: .5s; }

  .item-1:hover {
    transform: scale(1.25); }

  .item-2 {
    right: 33.5vw !important;
    top: 14vw !important;
    height: 6vw !important;
    width: 6vw !important;
    animation: scale-2 1s;
    transition: .5s; }

  .item-2:hover {
    transform: scale(1.25); }

  .item-3 {
    right: 37vw !important;
    top: 24vw !important;
    height: 5vw !important;
    width: 5vw !important;
    animation: scale 1s;
    transition: .5s; }

  .item-3:hover {
    transform: scale(1.25); }

  .item-4 {
    right: 0;
    left: 0;
    display: block;
    margin: 0 auto;
    top: 28vw !important;
    height: 6vw !important;
    width: 6vw !important;
    animation: scale-4 1s;
    transition: .25s; }

  .item-4:hover {
    transform: scale(1.25); }

  .item-5 {
    left: 37vw !important;
    top: 24vw !important;
    height: 5vw !important;
    width: 5vw !important;
    animation: scale 1s;
    transition: .5s; }

  .item-5:hover {
    transform: scale(1.25); }

  .item-6 {
    left: 33.5vw !important;
    top: 14vw !important;
    height: 6vw !important;
    width: 6vw !important;
    animation: scale-2 1s;
    transition: .5s; }

  .item-6:hover {
    transform: scale(1.25); }

  .item-7 {
    left: 38vw !important;
    top: 5.5vw !important;
    height: 5vw !important;
    width: 5vw !important;
    animation: scale 1s;
    transition: .5s; }

  .item-7:hover {
    transform: scale(1.25); }

  .item-8 {
    right: 0;
    left: 0;
    display: block;
    margin: 0 auto;
    top: 1vw;
    height: 6vw !important;
    width: 6vw !important;
    animation: scale-4 1s;
    transition: .25s; }

  .item-8:hover {
    transform: scale(1.25); }

  .branding {
    background-color: #6B408E;
    height: 10vw;
    width: 10vw;
    border-radius: 100%;
    top: 25vw;
    left: 30vw;
    position: absolute;
    text-align: center;
    font-weight: bold;
    color: white;
    transition: .25s;
    animation: scale 1s;
    z-index: 2; }
    .branding h3 {
      margin-top: 40%; }

  .branding:hover {
    color: white;
    text-decoration: none; }

  .branding:hover {
    color: white;
    text-decoration: none;
    height: 12vw;
    width: 12vw;
    left: 29vw;
    top: 24vw; }

  .web {
    background-color: #EF435E;
    height: 10vw;
    width: 10vw;
    border-radius: 100%;
    top: 32vw;
    left: 45vw;
    position: absolute;
    text-align: center;
    font-weight: bold;
    color: white;
    transition: .25s;
    animation: scale-2 1s; }
    .web h3 {
      margin-top: 40%; }

  .web:hover {
    color: white;
    text-decoration: none;
    height: 12vw;
    width: 12vw;
    top: 31vw;
    left: 44vw; }

  .social-media {
    background-color: #00AE97;
    height: 10vw;
    width: 10vw;
    border-radius: 100%;
    top: 25vw;
    right: 29vw;
    position: absolute;
    text-align: center;
    font-weight: bold;
    color: white;
    transition: .25s;
    animation: scale-3 1s; }
    .social-media h3 {
      margin-top: 35%; }

  .social-media:hover {
    color: white;
    text-decoration: none;
    height: 12vw;
    width: 12vw;
    right: 28vw;
    top: 24vw; }

  .tagline {
    position: absolute;
    top: 16.5vw;
    height: auto;
    width: 15vw;
    left: 42.5vw; }

  .article-home {
    margin-top: 150px; }

  .map-container {
    overflow: hidden;
    padding-top: 10px !important;
    position: relative;
    margin-top: 0px; }

  /* MOVE ACTIONS JS */
  .move {
    right: 43.75vw !important;
    margin-top: 5.75vw !important;
    height: 12.5vw !important;
    width: 12.5vw !important;
    transition: .5s;
    z-index: 20; }

  .move:hover {
    transform: scale(1); }

  .move2 {
    right: 43.75vw !important;
    top: 11.25vw !important;
    height: 12.5vw !important;
    width: 12.5vw !important;
    transition: .5s;
    z-index: 20; }

  .move2:hover {
    transform: scale(1); }

  .move3 {
    right: 43.75vw !important;
    top: 11.25vw !important;
    height: 12.5vw !important;
    width: 12.5vw !important;
    transition: .5s;
    z-index: 20; }

  .move3:hover {
    transform: scale(1); }

  .move4 {
    left: 0;
    right: 0;
    top: 11.25vw !important;
    height: 12.5vw !important;
    width: 12.5vw !important;
    transition: .5s;
    z-index: 20; }

  .move4:hover {
    transform: scale(1); }

  .move5 {
    left: 43.75vw !important;
    top: 11.25vw !important;
    height: 12.5vw !important;
    width: 12.5vw !important;
    transition: .5s;
    z-index: 20; }

  .move5:hover {
    transform: scale(1); }

  .move6 {
    left: 43.75vw !important;
    top: 11.25vw !important;
    height: 12.5vw !important;
    width: 12.5vw !important;
    transition: .5s;
    z-index: 20; }

  .move6:hover {
    transform: scale(1); }

  .move7 {
    left: 43.75vw !important;
    top: -3.75vw !important;
    height: 12.5vw !important;
    width: 12.5vw !important;
    transition: .5s;
    z-index: 20; }

  .move7:hover {
    transform: scale(1); }

  .move8 {
    left: 0;
    right: 0;
    top: 11.25vw !important;
    height: 12.5vw !important;
    width: 12.5vw !important;
    transition: .5s;
    z-index: 20; }

  .move8:hover {
    transform: scale(1); }

  .circle-1 {
    border-radius: 100%;
    border: 1px solid rgba(128, 128, 128, 0.2);
    width: 35vw;
    height: 35vw;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    transition: .25s; }

  .circle-2 {
    border-radius: 100%;
    border: 1px solid rgba(128, 128, 128, 0.4);
    width: 30vw;
    height: 30vw;
    position: absolute;
    top: 2.5vw;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    transition: .25s; }

  .circle-3 {
    border-radius: 100%;
    border: 1px solid rgba(128, 128, 128, 0.6);
    width: 25vw;
    height: 25vw;
    position: absolute;
    top: 5vw;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    transition: .25s; }

  .circle-4 {
    border-radius: 100%;
    border: 1px solid rgba(128, 128, 128, 0.8);
    width: 20vw;
    height: 20vw;
    position: absolute;
    top: 7.5vw;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    transition: .25s; }

  .circle-5 {
    border-radius: 100%;
    border: 1px solid gray;
    width: 15vw;
    height: 15vw;
    position: absolute;
    top: 10vw;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    transition: .25s; }

  .circle-6 {
    border-radius: 100%;
    border: 1px solid rgba(128, 128, 128, 0.1);
    width: 40vw;
    height: 40vw;
    position: absolute;
    top: -2.5vw;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    transition: .25s; }

  .circle-7 {
    border-radius: 100%;
    border: 1px solid rgba(128, 128, 128, 0.1);
    width: 45vw;
    height: 45vw;
    position: absolute;
    top: -5vw;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    transition: .25s; }

  .circle-8 {
    border-radius: 100%;
    border: 1px solid rgba(128, 128, 128, 0.1);
    width: 50vw;
    height: 50vw;
    position: absolute;
    top: -7.5vw;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    transition: .25s; }

  .tagline {
    top: 14.5vw !important;
    width: 12.5vw;
    left: 43.75vw; }

  form {
    margin-top: 0px !important; } }

/*# sourceMappingURL=Style.css.map */
