/* COLOR PALETTE ---------------------------------------- */
$graphite: #707071;
$black: #000000;
$purple: #6B408E;
$pink: #EF435E;
$turqoise: #00AE97;



/* DEFAULT ---------------------------------------- */
html,body{
    overflow-x: hidden;
}

h1{
font-size: 30px;
font-family: itc-avant-garde-gothic-pro, sans-serif;
font-weight: 700;
font-style: normal;
}

h2{
font-size: 24px;
font-family: itc-avant-garde-gothic-pro, sans-serif;
font-weight: 700;
font-style: normal;
}

h3{
  font-size: 16px;
font-family: itc-avant-garde-gothic-pro, sans-serif;
font-weight: 500;
font-style: normal;
}

h4{
  font-size: 18px;
font-family: itc-avant-garde-gothic-pro, sans-serif;
font-weight: 700;
font-style: normal;
}

p{
  font-family: itc-avant-garde-gothic-pro, sans-serif;
}

a{
  font-family: itc-avant-garde-gothic-pro, sans-serif;
}
li{
  font-family: itc-avant-garde-gothic-pro, sans-serif;
}

#active{
  font-weight: bold;
}

@-moz-document url-prefix() {
    .navigation {
        background-color: rgba(255, 255, 255, .85);
    }
}

.navigation{
  display: none;
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  transition: .25s;
  opacity: 1;
  position: fixed;
height: 100vh;
z-index: 10;
animation: opacity .25s;
  ul{
    list-style: none;
margin-top: 100px;

  li{
    width: 100%;
    text-align: center;
      margin-top: 50px;
      margin-bottom: 50px;
    a{
color: black;
transition: .25s;
    }
    a:hover{
      text-decoration: none;
      opacity: .5;
    }
  }
}
}

.tagline{
  position: absolute;
  top: 42.5vw;

  height: auto;
  width: 35vw;
  left: 32.5vw;
}

header{
  padding: 25px 0px 0px 0px!important;
  position: absolute;
  z-index: 20;

}

.toggle-nav{
  margin: 20px;
}

@keyframes opacity{
  0%   { opacity: 0; }
  100% { opacity: 1; }
}


  .animate{
    animation: opacity 1s;
    animation-delay: 1s;
  }


main{
  position: relative;
margin-top: 10vw;
}

.home{
  height: 80vh;
}

.circle-1{
  border-radius: 100%;
  border: 1px solid rgba(128, 128, 128, .2);
  width: 95vw;
  height: 95vw;
  position: absolute;
  top: 5vw;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  transition: .25s;
}

.circle-2{
  border-radius: 100%;
  border: 1px solid rgba(128, 128, 128, .4);
  width: 85vw;
  height: 85vw;
  position: absolute;
  top: 10vw;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  transition: .25s;
}

.circle-3{
  border-radius: 100%;
  border: 1px solid rgba(128, 128, 128, .6);
  width: 75vw;
  height: 75vw;
  position: absolute;
  top: 15vw;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  transition: .25s;
}

.circle-4{
  border-radius: 100%;
  border: 1px solid rgba(128, 128, 128, .8);
  width: 65vw;
  height: 65vw;
  position: absolute;
  top: 20vw;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  transition: .25s;
}

.circle-5{
  border-radius: 100%;
  border: 1px solid rgba(128, 128, 128, 1);
  width: 55vw;
  height: 55vw;
  position: absolute;
  top: 25vw;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  transition: .25s;
  z-index: 1;
}

.circle-6{
  border-radius: 100%;
  width: 45vw;
  height: 45vw;
  position: absolute;
  top: 30vw;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  transition: .25s;
}

.hover:hover{
  border: 1px solid #EF435E;
}


/* CIRCLE LINKS */

.branding{
  background-color: #6B408E;
  height: 30vw;
  width: 30vw;
  border-radius: 100%;
  top: 45vh;
  left: 3.5vw;
  position: absolute;
  text-align: center;
  font-weight: bold;
  color: white;
  transition: .25s;
  animation: scale 1s;
  h3{
      margin-top: 11vw;
  }
}
.branding:hover{
  color: white;
  text-decoration: none;
}
.branding:hover{
  color: white;
  text-decoration: none;
  height: 32vw;
  width: 32vw;
  left: 2vw;
  top: 44.5vh;
}

.web{
  background-color: #EF435E;
  height: 30vw;
  width: 30vw;
  border-radius: 100%;
  top: 50vh;
  left: 35vw;
  position: absolute;
  text-align: center;
  font-weight: bold;
  color: white;
  transition: .25s;
  animation: scale-2 1s;

  h3{
      margin-top: 11vw;
  }
}
.web:hover{
  color: white;
  text-decoration: none;
  height: 32vw;
  width: 32vw;
  top: 49vh;
  left: 34vw;
}

.social-media{
  background-color: #00AE97;
  height: 30vw;
  width: 30vw;
  border-radius: 100%;
  top: 45vh;
  right: 3.5vw;
  position: absolute;
  text-align: center;
  font-weight: bold;
  color: white;
  transition: .25s;
  animation: scale-3 1s;
h3{
    margin-top: 9vw;
}
}

.social-media:hover{
  color: white;
  text-decoration: none;
  height: 32vw;
  width: 32vw;
  right: 2vw;
  top: 44.5vh;
}

/* ANIMATIONS ---------------------------------------- */

@keyframes scale {
       0% {
           transform: scale(0);
           -webkit-transform: scale(0);
       }
       100% {
           transform: scale(1.0);
           -webkit-transform: scale(1.0);
       }
   }

   @keyframes scale-2 {
          0% {
              transform: scale(0);
              -webkit-transform: scale(0);
          }
          10% {
              transform: scale(0);
              -webkit-transform: scale(0);
          }
          100% {
              transform: scale(1.0);
              -webkit-transform: scale(1.0);
          }
      }

      @keyframes scale-3 {
             0% {
                 transform: scale(0);
                 -webkit-transform: scale(0);
             }
             15% {
                 transform: scale(0);
                 -webkit-transform: scale(0);
             }
             100% {
                 transform: scale(1.0);
                 -webkit-transform: scale(1.0);
             }
         }

         @keyframes scale-4 {
                0% {
                    transform: scale(0);
                    -webkit-transform: scale(0);
                }
                20% {
                    transform: scale(0);
                    -webkit-transform: scale(0);
                }
                100% {
                    transform: scale(1.0);
                    -webkit-transform: scale(1.0);
                }
            }

            @keyframes scale-5 {
                   0% {
                       transform: scale(0);
                       -webkit-transform: scale(0);
                   }
                   25% {
                       transform: scale(0);
                       -webkit-transform: scale(0);
                   }
                   100% {
                       transform: scale(1.0);
                       -webkit-transform: scale(1.0);
                   }
               }

               @keyframes scale-6 {
                      0% {
                          transform: scale(0);
                          -webkit-transform: scale(0);
                      }
                      30% {
                          transform: scale(0);
                          -webkit-transform: scale(0);
                      }
                      100% {
                          transform: scale(1.0);
                          -webkit-transform: scale(1.0);
                      }
                  }

                  @keyframes scale-7 {
                         0% {
                             transform: scale(0);
                             -webkit-transform: scale(0);
                         }
                         35% {
                             transform: scale(0);
                             -webkit-transform: scale(0);
                         }
                         100% {
                             transform: scale(1.0);
                             -webkit-transform: scale(1.0);
                         }
                     }

                     @keyframes scale-8 {
                            0% {
                                transform: scale(0);
                                -webkit-transform: scale(0);
                            }
                            40% {
                                transform: scale(0);
                                -webkit-transform: scale(0);
                            }
                            100% {
                                transform: scale(1.0);
                                -webkit-transform: scale(1.0);
                            }
                        }



         .map-container{
           overflow: hidden;
           padding-top: 10px!important;
           position: relative;
           height: 310px;
           margin-top: 75px;

         }
         .map{
           border-top-left-radius: 100%;
           border-top-right-radius: 100%;
           box-shadow: 0 -2px 10px lightgrey;
           width: 150vw;
           bottom: 0;
           left: -25vw;
           position: absolute;
         }


/* PORTFOLIO PAGE */
.portfolio{
  height: 101vw;
}

.portfolio-item{
  position: absolute;
  border-radius: 100%;
  background-color: #F2F2F2;
  box-shadow: 0 0 3px grey;
  img{
    height: 80%;
    width: 80%;
    margin: 10%;
  }
}

.item-1{
  right: 18vw;
  top: 17vw;
  height: 13vw;
  width: 13vw;
  animation: scale 1s;
  transition: .5s;
}

.item-1:hover{
  transform: scale(1.25);
}

.item-2{
right: 5vw;
top: 45vw;
height: 16vw;
width: 16vw;
animation: scale-2 1s;
transition: .5s;
}

.item-2:hover{
  transform: scale(1.25);
}

.item-3{
  right: 18vw;
  top: 75vw;
  height: 13vw;
  width: 13vw;
  animation: scale 1s;
  transition: .5s;
}

.item-3:hover{
  transform: scale(1.25);
}

.item-4{
  right: 0;
  left: 0;
  display: block;
  margin: 0 auto;
  top: 84vw;
  height: 16vw;
  width: 16vw;
  animation: scale-4 1s;
  transition: .25s;
}

.item-4:hover{
  transform: scale(1.25);
}

.item-5{
  left: 18vw;
  top: 75vw;
  height: 13vw;
  width: 13vw;
  animation: scale 1s;
  transition: .5s;
}

.item-5:hover{
  transform: scale(1.25);
}

.item-6{
  left: 5vw;
  top: 45vw;
  height: 16vw;
  width: 16vw;
  animation: scale-2 1s;
  transition: .5s;
}

.item-6:hover{
  transform: scale(1.25);
}

.item-7{
  left: 18vw;
  top: 17vw;
  height: 13vw;
  width: 13vw;
  animation: scale 1s;
  transition: .5s;
}

.item-7:hover{
  transform: scale(1.25);
}

.item-8{
  right: 0;
  left: 0;
  display: block;
  margin: 0 auto;
  top: 5vw;
  height: 16vw;
  width: 16vw;
  animation: scale-4 1s;
  transition: .25s;
}

.item-8:hover{
  transform: scale(1.25);
}

.opacity{
  opacity: .5;
}



.article-portfolio{
  position: relative;
  margin-top: 5vw;

  padding-bottom: 10vw!important;
  ul{
    list-style: none;
  }
}

.item-display{
  display: none;
  transition: .25s;
  a{
    color: white;
    text-align: center;
    border: 1px solid white;
    height: 40px;
    padding-top: 7.5px;
  }
  a:hover{
    text-decoration: none;
  }
  .website{
    background-color: $pink;
  }
  .read-more{
    background-color: $graphite;
  }
}

/* MOVE ACTIONS JS */

.move{
  right: 30vw;
  margin-top: 15vw;
  height: 40vw;
  width: 40vw;
  transition: .5s;
  z-index: 20;
}

.move:hover{
  transform: scale(1);
}

.move2{
  right: 30vw;
  top: 32.5vw!important;
  height: 40vw;
  width: 40vw;
  transition: .5s;
  z-index: 20;
}

.move2:hover{
  transform: scale(1);
}

.move3{
  right: 30vw;
  top: 32.5vw!important;
  height: 40vw;
  width: 40vw;
  transition: .5s;
  z-index: 20;
}

.move3:hover{
  transform: scale(1);
}

.move4{
  left: 0;
  right: 0;
  top: 32.5vw!important;
  height: 40vw;
  width: 40vw;
  transition: .5s;
  z-index: 20;
}

.move4:hover{
  transform: scale(1);
}

.move5{
  left: 30vw;
  top: 32.5vw!important;
  height: 40vw;
  width: 40vw;
  transition: .5s;
  z-index: 20;
}

.move5:hover{
  transform: scale(1);
}

.move6{
  left: 30vw;
  top: 32.5vw!important;
  height: 40vw;
  width: 40vw;
  transition: .5s;
  z-index: 20;
}

.move6:hover{
  transform: scale(1);
}

.move7{
  left: 30vw;
  margin-top: 15vw;
  height: 40vw;
  width: 40vw;
  transition: .5s;
  z-index: 20;
}

.move7:hover{
  transform: scale(1);
}

.move8{
  left: 0;
  right: 0;
  top: 32.5vw!important;
  height: 40vw;
  width: 40vw;
  transition: .5s;
  z-index: 20;
}

.move8:hover{
  transform: scale(1);
}

.close{
  height: 25px;
  width: 25px;
  border-radius: 100%;
  display: none;
  position: absolute;
  bottom: 75%;
  background-color: grey;
  color: white;
  z-index: 20;
  p{
    font-weight: normal;
    color: white;
    text-align: center;
  }
}

.cover{
  z-index: 15;
height: 100%;
width: 100%;
position: absolute;

}

.cover-1{
  z-index: 16;
height: 100%;
width: 100%;
position: absolute;
}

.cover-2{
  z-index: 16;
height: 100%;
width: 100%;
position: absolute;
}

.cover-3{
  z-index: 16;
height: 100%;
width: 100%;
position: absolute;
}

.cover-4{
  z-index: 16;
height: 100%;
width: 100%;
position: absolute;
}

.cover-5{
  z-index: 16;
height: 100%;
width: 100%;
position: absolute;
}

.cover-6{
  z-index: 16;
height: 100%;
width: 100%;
position: absolute;
}

.cover-7{
  z-index: 16;
height: 100%;
width: 100%;
position: absolute;
}

.cover-8{
  z-index: 16;
height: 100%;
width: 100%;
position: absolute;
}

.branding-container{
  border-top: 1px solid $purple;
  padding-top: 50px;
  padding-bottom: 50px;

  h2{
    color: $purple;
  }

  a{
    color: $purple;
    transition: .25s;

    img{
      padding-left: 15px;
    }
  }

  a:hover{
    opacity: .5;
    text-decoration: none;
  }
}

.web-container{
  border-top: 1px solid $pink;
  padding-top: 50px;
  padding-bottom: 50px;
  h2{
    color: $pink;
  }
  a{
    color: $pink;
    transition: .25s;
    img{
      padding-left: 15px;
    }
  }
  a:hover{
    opacity: .5;
    text-decoration: none;
  }
}

.social-media-container{
  border-top: 1px solid $turqoise;
  padding-top: 50px;
  padding-bottom: 50px;

  h2{
    color: $turqoise;
  }

  a{
    color: $turqoise;
    transition: .25s;
    img{
      padding-left: 15px;
    }
  }

  a:hover{
    opacity: .5;
    text-decoration: none;
  }
}

.modal-content{
  border-radius: 0px!important;
  border: none!important;
}

/* BLOG ---------------------------------------- */


.blog-posts-container{
  h3{
padding-bottom: 10px;
padding-top: 10px;
border-top: 2px solid $purple;
  }

li{
  padding-top: 25px!important;
  padding-bottom: 25px!important;
  border-top: 1px solid lightgrey;
}

h2{
  padding: none;
  margin: 0;
}
}

.blog-posts{
  li{
    padding-bottom: 25px!important;
  }

  list-style: none;
  a{
    color: black;
    transition: .25s;
  }
  a:hover{
    text-decoration: none;
    opacity: .5;
  }
}


.blog-post-image{
  border-radius: 100%;
  background-color: #F2F2F2;
  box-shadow: 0 0 3px grey;
width: 20%;
max-height: 100px!important;
max-width: 100px!important;

  img{
    height: 80%;
    width: 80%;
    max-height: 80px!important;
    max-width: 80px!important;
    margin: 10%;
  }
}

.blog-post-info{
  width: 80%;
  padding-left: 25px;
  p{
    margin-top: 5px;
    margin-bottom: 0;
  }
  .description{
    font-size: 14px;
  }
}


/* SHOP ---------------------------------------- */
#heroes{
  width: 95%;
  height: 95%;
  margin: 2.5%;
}

@media (min-width: 768px) {
  main{
    position: relative;
  margin-top: 70px;
  }

.tagline{
  top: 35vw;
  width: 25vw;
  left: 37.5vw;
}
  .circle-1{
    border-radius: 100%;
    border: 1px solid rgba(128, 128, 128, .2);
    width: 80vw;
    height: 80vw;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    transition: .25s;
  }

  .circle-2{
    border-radius: 100%;
    border: 1px solid rgba(128, 128, 128, .4);
    width: 70vw;
    height: 70vw;
    position: absolute;
    top: 5vw;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    transition: .25s;
  }

  .circle-3{
    border-radius: 100%;
    border: 1px solid rgba(128, 128, 128, .6);
    width: 60vw;
    height: 60vw;
    position: absolute;
    top: 10vw;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    transition: .25s;
  }

  .circle-4{
    border-radius: 100%;
    border: 1px solid rgba(128, 128, 128, .8);
    width: 50vw;
    height: 50vw;
    position: absolute;
    top: 15vw;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    transition: .25s;
  }

  .circle-5{
    border-radius: 100%;
    border: 1px solid rgba(128, 128, 128, 1);
    width: 40vw;
    height: 40vw;
    position: absolute;
    top: 20vw;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    transition: .25s;
  }






  /* PORTFOLIO ---------------------------------------- */



.portfolio{
  height: 80vw;
}

.item-1{
  right: 21vw;
  top: 12vw;
  height: 10vw;
  width: 10vw;
  animation: scale 1s;
  transition: .5s;
}

.item-1:hover{
  transform: scale(1.25);
}

.item-2{
right: 10vw;
top: 35vw;
height: 13vw;
width: 13vw;
animation: scale-2 1s;
transition: .5s;
}

.item-2:hover{
  transform: scale(1.25);
}

.item-3{
  right: 21vw;
  top: 58vw;
  height: 10vw;
  width: 10vw;
  animation: scale 1s;
  transition: .5s;
}

.item-3:hover{
  transform: scale(1.25);
}

.item-4{
  right: 0;
  left: 0;
  display: block;
  margin: 0 auto;
  top: 67vw;
  height: 13vw;
  width: 13vw;
  animation: scale-4 1s;
  transition: .25s;
}

.item-4:hover{
  transform: scale(1.25);
}

.item-5{
  left: 21vw;
  top: 58vw;
  height: 10vw;
  width: 10vw;
  animation: scale 1s;
  transition: .5s;
}

.item-5:hover{
  transform: scale(1.25);
}

.item-6{
  left: 10vw;
  top: 35vw;
  height: 13vw;
  width: 13vw;
  animation: scale-2 1s;
  transition: .5s;
}

.item-6:hover{
  transform: scale(1.25);
}

.item-7{
  left: 21vw;
  top: 12vw;
  height: 10vw;
  width: 10vw;
  animation: scale 1s;
  transition: .5s;
}

.item-7:hover{
  transform: scale(1.25);
}

.item-8{
  right: 0;
  left: 0;
  display: block;
  margin: 0 auto;
  top: 0vw;
  height: 13vw;
  width: 13vw;
  animation: scale-4 1s;
  transition: .25s;
}

.item-8:hover{
  transform: scale(1.25);
}



  .opacity{
    opacity: .5;
  }



  .article-portfolio{
    position: relative;
    margin-top: 15vw;
    min-height: 10vw;
    padding-bottom: 10vw!important;
    ul{
      list-style: none;
    }
  }

  .item-display{
    display: none;
    transition: .25s;
    a{
      color: white;
      text-align: center;
      border: 1px solid white;
      height: 40px;
      padding-top: 7.5px;
    }
    a:hover{
      text-decoration: none;
    }
    .website{
      background-color: $pink;
    }
    .read-more{
      background-color: $graphite;
    }
  }

  /* MOVE ACTIONS JS */

  .move{
    right: 35vw;
    margin-top: 13vw;
    height: 30vw;
    width: 30vw;
    transition: .5s;
    z-index: 20;
  }

  .move:hover{
    transform: scale(1);
  }

  .move2{
    right: 35vw;
    top: 25vw!important;
    height: 30vw;
    width: 30vw;
    transition: .5s;
    z-index: 20;
  }

  .move2:hover{
    transform: scale(1);
  }

  .move3{
    right: 35vw;
    top: 25vw!important;
    height: 30vw;
    width: 30vw;
    transition: .5s;
    z-index: 20;
  }

  .move3:hover{
    transform: scale(1);
  }

  .move4{
    left: 0;
    right: 0;
    top: 25vw!important;
    height: 30vw;
    width: 30vw;
    transition: .5s;
    z-index: 20;
  }

  .move4:hover{
    transform: scale(1);
  }

  .move5{
    left: 35vw;
    top: 25vw!important;
    height: 30vw;
    width: 30vw;
    transition: .5s;
    z-index: 20;
  }

  .move5:hover{
    transform: scale(1);
  }

  .move6{
    left: 35vw;
    top: 25vw!important;
    height: 30vw;
    width: 30vw;
    transition: .5s;
    z-index: 20;
  }

  .move6:hover{
    transform: scale(1);
  }

  .move7{
    left: 35vw;
    top: 10vw!important;
    height: 30vw;
    width: 30vw;
    transition: .5s;
    z-index: 20;
  }

  .move7:hover{
    transform: scale(1);
  }

  .move8{
    left: 0;
    right: 0;
    top: 25vw!important;
    height: 30vw;
    width: 30vw;
    transition: .5s;
    z-index: 20;
  }

  .move8:hover{
    transform: scale(1);
  }

  .close{
    height: 25px;
    width: 25px;
    border-radius: 100%;
    display: none;
    position: absolute;
    bottom: 75%;
    background-color: grey;
    color: white;
    z-index: 20;
    p{
      font-weight: normal;
      color: white;
      text-align: center;
    }
  }

.article-portfolio{
  margin-top: 0px!important;
}

} /* CLOSES 768PX MEDIA QUERY */

@media (min-width: 1024px){
  .desktop-nav{
    position: fixed;
    list-style: none;
    transform: rotate(-90deg);
    top: 375px;
    left: -245px;
    z-index: 200;
li{
  float: left;
  padding-right: 25px;
}




#active-desktop{
  border-top: 10px solid $pink;
    padding-top: 10px;
}

a{
  color: black;
  transition: .25s;
}
a:hover{
  text-decoration: none;
  opacity: .5;
}
  }

  main{
    margin-top: 2.5vw!important;
  }


.branding-container{
  border-top: none;
  padding-top: 0;
  padding-bottom: 50px;
}

.blog-posts{
  li{
    border: none;
    p{
      font-size: 12px;
    }
  }
}


.blog-posts-container h3{
  border-top: 0;
  border-bottom: 1px solid $purple;
  padding-top: 0;
}




/* CIRCLES ******************************************/

.circle-1{
  border-radius: 100%;
  border: 1px solid rgba(128, 128, 128, .2);
  width: 40vw;
  height: 40vw;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  transition: .25s;
}

.circle-2{
  border-radius: 100%;
  border: 1px solid rgba(128, 128, 128, .4);
  width: 35vw;
  height: 35vw;
  position: absolute;
  top: 2.5vw;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  transition: .25s;
}

.circle-3{
  border-radius: 100%;
  border: 1px solid rgba(128, 128, 128, .6);
  width: 30vw;
  height: 30vw;
  position: absolute;
  top: 5vw;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  transition: .25s;
}

.circle-4{
  border-radius: 100%;
  border: 1px solid rgba(128, 128, 128, .8);
  width: 25vw;
  height: 25vw;
  position: absolute;
  top: 7.5vw;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  transition: .25s;
}

.circle-5{
  border-radius: 100%;
  border: 1px solid rgba(128, 128, 128, 1);
  width: 20vw;
  height: 20vw;
  position: absolute;
  top: 10vw;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  transition: .25s;
}



/* PORTFOLIO ---------------------------------------- */

.branding-container{
  margin-top: 5vw;
}

.article-portfolio{
  h2{
    font-size: 18px;
  }
}


.portfolio{
height: 42vw!important;
overflow: hidden;
}

.item-1{
  right: 35vw!important;
  top: 7vw!important;
  height: 5vw!important;
  width: 5vw!important;
  animation: scale 1s;
  transition: .5s;
}

.item-1:hover{
  transform: scale(1.25);
}

.item-2{
right: 30vw!important;
top: 17vw!important;
height: 6vw!important;
width: 6vw!important;
animation: scale-2 1s;
transition: .5s;
}

.item-2:hover{
  transform: scale(1.25);
}

.item-3{
  right: 35vw!important;
  top: 27.5vw!important;
  height: 5vw!important;
  width: 5vw!important;
  animation: scale 1s;
  transition: .5s;
}

.item-3:hover{
  transform: scale(1.25);
}

.item-4{
  right: 0;
  left: 0;
  display: block;
  margin: 0 auto;
  top: 34vw!important;
  height: 6vw!important;
  width: 6vw!important;
  animation: scale-4 1s;
  transition: .25s;
}

.item-4:hover{
  transform: scale(1.25);
}

.item-5{
  left: 35vw!important;
  top: 27.5vw!important;
  height: 5vw!important;
  width: 5vw!important;
  animation: scale 1s;
  transition: .5s;
}

.item-5:hover{
  transform: scale(1.25);
}

.item-6{
  left: 30vw!important;
  top: 17vw!important;
  height: 6vw!important;
  width: 6vw!important;
  animation: scale-2 1s;
  transition: .5s;
}

.item-6:hover{
  transform: scale(1.25);
}

.item-7{
  left: 35vw!important;
  top: 7vw!important;
  height: 5vw!important;
  width: 5vw!important;
  animation: scale 1s;
  transition: .5s;
}

.item-7:hover{
  transform: scale(1.25);
}

.item-8{
  right: 0;
  left: 0;
  display: block;
  margin: 0 auto;
  top: 1vw;
  height: 6vw!important;
  width: 6vw!important;
  animation: scale-4 1s;
  transition: .25s;
}

.item-8:hover{
  transform: scale(1.25);
}


.branding{
  background-color: #6B408E;
  height: 10vw;
  width: 10vw;
  border-radius: 100%;
  top: 25vw;
  left: 30vw;
  position: absolute;
  text-align: center;
  font-weight: bold;
  color: white;
  transition: .25s;
  animation: scale 1s;
  h3{
margin-top: 40%;
  }
}
.branding:hover{
  color: white;
  text-decoration: none;
}

.branding:hover{
  color: white;
  text-decoration: none;
  height: 12vw;
  width: 12vw;
  left: 29vw;
  top: 24vw;
}

.web{
  background-color: #EF435E;
  height: 10vw;
  width: 10vw;
  border-radius: 100%;
  top: 32vw;
  left: 45vw;
  position: absolute;
  text-align: center;
  font-weight: bold;
  color: white;
  transition: .25s;
  animation: scale-2 1s;

  h3{
      margin-top: 40%;
  }
}
.web:hover{
  color: white;
  text-decoration: none;
  height: 12vw;
  width: 12vw;
  top: 31vw;
  left: 44vw;
}

.social-media{
  background-color: #00AE97;
  height: 10vw;
  width: 10vw;
  border-radius: 100%;
  top: 25vw;
  right: 29vw;
  position: absolute;
  text-align: center;
  font-weight: bold;
  color: white;
  transition: .25s;
  animation: scale-3 1s;
h3{
    margin-top: 35%;
}
}

.social-media:hover{
  color: white;
  text-decoration: none;
  height: 12vw;
  width: 12vw;
  right: 28vw;
  top: 44.5vh;
}

.tagline{
  position: absolute;
  top: 16.5vw;

  height: auto;
  width: 15vw;
  left: 42.5vw;
}


.article-home{
  margin-top: 150px;
}

.map-container{
  overflow: hidden;
  padding-top: 10px!important;
  position: relative;
  height: 350px;
  margin-top: 0px;

}
.map{
  border-top-left-radius: 100%;
  border-top-right-radius: 100%;
  box-shadow: 0 -2px 10px lightgrey;
  width: 100vw;
  bottom: -100px;
  left: 0vw;
  position: absolute;
}




/* MOVE ACTIONS JS */

.move{
  right: 42.5vw!important;
  margin-top: 5.5vw!important;
  height: 15vw!important;
  width: 15vw!important;
  transition: .5s;
  z-index: 20;
}

.move:hover{
  transform: scale(1);
}

.move2{
  right: 42.5vw!important;
  top: 12.5vw!important;
  height: 15vw!important;
  width: 15vw!important;
  transition: .5s;
  z-index: 20;
}

.move2:hover{
  transform: scale(1);
}

.move3{
  right: 42.5vw;
  top: 12.5vw!important;
  height: 15vw!important;
  width: 15vw!important;
  transition: .5s;
  z-index: 20;
}

.move3:hover{
  transform: scale(1);
}

.move4{
  left: 0;
  right: 0;
  top: 12.5vw!important;
  height: 15vw!important;
  width: 15vw!important;
  transition: .5s;
  z-index: 20;
}

.move4:hover{
  transform: scale(1);
}

.move5{
  left: 42.5vw!important;
  top: 12.5vw!important;
  height: 15vw!important;
  width: 15vw!important;
  transition: .5s;
  z-index: 20;
}

.move5:hover{
  transform: scale(1);
}

.move6{
  left: 42.5vw!important;
  top: 12.5vw!important;
  height: 15vw!important;
  width: 15vw!important;
  transition: .5s;
  z-index: 20;
}

.move6:hover{
  transform: scale(1);
}

.move7{
  left: 42.5vw!important;
  top: -2.5vw!important;
  height: 15vw!important;
  width: 15vw!important;
  transition: .5s;
  z-index: 20;
}

.move7:hover{
  transform: scale(1);
}

.move8{
  left: 0;
  right: 0;
  top: 12.5vw!important;
  height: 15vw!important;
  width: 15vw!important;
  transition: .5s;
  z-index: 20;
}

.move8:hover{
  transform: scale(1);
}

/* BLOG ***********************************/

.blog{
  margin-top: 55px!important;
}

} /* CLOSE 1024PX */


@media (min-width: 1200px){

  main{
    margin-top: 0!important;
  }
  .portfolio{
  height: 60vh!important;
  overflow: hidden;
  min-height: 800px;
  }

}
